<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   @*  <title id="titulo" class="pro-titulo">@ViewData["Title"] - PrecisoPRO</title> *@
   <title id="titulo" class="pro-titulo">@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <!----======== CSS - PAULO ======== -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dev_paulo.css" asp-append-version="true" />

    <!----======== CSS - MATHEUS ======== -->
    <link href="~/css/css-layout.css" rel="stylesheet" />
    <!----===== Boxicons CSS - MATHEUS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!----===== INÍCIO SIDEBAR ===== -->
    <section>
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="~/lib/IMG/USUARIO2.png" alt="">
                    </span>

                    <div class="text logo-text">
                        <span class="name">Usuário Fulano</span>
                        <span class="profession bw-dark opacity-75"><i class='bx bxs-circle text-success py-1'></i> Online</span>
                    </div>
                </div>

                <i class='bx bx-chevron-right toggle'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">

                    <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input type="text" placeholder="Buscar">
                    </li>

                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-home-alt icon'></i>
                                <span class="text nav-text">Início</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-bar-chart-alt-2 icon'></i>
                                <span class="text nav-text">Tabelas</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-add-to-queue icon'></i>
                                <span class="text nav-text">Cadastrar</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-bell icon'></i>
                                <span class="text pe-2 nav-text">Notificações</span>
                                <span class="badge px-2 text-white  badge-pill badge-warning">3</span>
                            </a>
                        </li>
                        @*
                        <li class="nav-link">
                        <a href="#">
                        <i class='bx bx-heart icon'></i>
                        <span class="text nav-text">Likes</span>
                        </a>
                        </li>

                        <li class="nav-link">
                        <a href="#">
                        <i class='bx bx-wallet icon'></i>
                        <span class="text nav-text">Wallets</span>
                        </a>
                        </li> *@

                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Sair</span>
                        </a>
                    </li>

                    <li class="mode py-2">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark mode</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>

                    <div class="mode-img pt-2 border-top">
                        <img src="lib/IMG/LOGOMENOR.png" width="190" />
                    </div>
                </div>

            </div>

        </nav>

       
    </section>
    <!----===== FINAL SIDEBAR ===== -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center">
        <div class="container">
            &copy; 2023 - PrecisoPRO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.mask.min.js"></script>
    <script src="~/lib/jquery/jquery.maskedinput.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/sidebar.js"></script>
    
    <!----===== ATIVAR DICAS ===== -->
    <script>
        $(function () {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            // $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <!----===== FIM ATIVAR DICAS ===== -->


    <!----===== SCRIPT PARA RESPONSIVIDADE ===== -->
    <script>
        // Verificar a largura da tela e modificar a classe do elemento
        function verificarLarguraDaTela() {
            //Pega os elementos que contem a classe prn-resp-td
            var elementosTR = document.querySelectorAll('tr.prn-resp-td');

            //verifica o tamanho da tela
            if (window.innerWidth <= 700) 
            {

                // Loop para aplicar a mudança a cada elemento
                elementosTR.forEach(function (elemento) {
                    // Faça as alterações necessárias em cada elemento, adicionando fs-6
                    elemento.classList.add('fs-6'); // Adiciona uma nova classe, se necessário
                    
                });

               
            }
            else 
            {
                // Loop para aplicar a mudança a cada elemento
                elementosTR.forEach(function (elemento) {
                // Faça as alterações necessárias em cada elemento removendo a classe fs-6
                
                elemento.classList.remove('fs-6'); // Adiciona uma nova classe, se necessário
            });
            }
            
        }

        // Chamar a função quando a página é carregada
        verificarLarguraDaTela();

        // Chamar a função sempre que a largura da tela for alterada
        window.addEventListener('resize', verificarLarguraDaTela);
    </script>
    <!----===== FIM SCRIPT PARA RESPONSIVIDADE ===== -->
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
