
@{
    ViewData["Title"] = "Incluir";
     Layout = "~/Views/Shared/_LayoutModais.cshtml";
}

<div class="container mt-5">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                        <h5 class="modal-title" id="Esqueceu a senha?">Incluir nova EMPRESA</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>            </div>
            <div class="modal-body text-center">
                <!--AQUI CONTEUDO DO FORM-->
                <div class="row">
                    <h1>CONTEUDO DO FORM</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FIM DO CONTAINER-->
